body {
  color: white;
  background: rgb(0, 0, 0);
  width: 1024px;
  margin: auto;
}
h1 {
  text-align: center;
}
span {
  display: block;
}

#score-container {
  display: flex;
  justify-content: center;
  margin: 40px auto 0 40px;
  text-align: center;
  font-size: 25px;
}

.score-name {
  margin-top: 20px;
}

.score-display {
  margin-top: 20px;
  font-size: 85px;
}

.info {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 40px;
}

#round-info {
  text-align: center;
}

#game-screen {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
#selection {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.card {
  margin: 20px 40px 0 40px;
  height: 350px;
  width: 350px;
  font-size: 25px;
  text-align: center;
  transition: all 0.3s;
}

.card:hover {
  border: 2px solid yellow;
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.1);
}

.game-card {
  height: 350px;
  width: 350px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#winner-info {
  font-size: 25px;
  text-align: center;
  margin: auto;
}

#btn-next-round {
  display: block;
  margin: auto;
  height: 50px;
  width: 100px;
}

#results {
  font-size: 40px;
  text-align: center;
}

#btn-restart {
  display: block;
  margin: 80px auto;
  font-size: 40px;
}

@media (max-width: 1300px) {
  body {
    width: 700px;
  }
  .info {
    height: 150px;
    width: 150px;
  }
  .score-display {
    font-size: 65px;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 20px;
  }

  .card,
  .game-card {
    height: 130px;
    width: 200px;
  }
}
